# ADM - HW 3

In [1]:
import functions 

from bs4 import BeautifulSoup
import requests
import os 
import time
import pandas as pd 
import csv 
import nltk
import calendar
from nltk.corpus import stopwords
import numpy as np
from collections import Counter
from functools import reduce
import pickle 
from sklearn.feature_extraction.text import TfidfVectorizer, TfidfTransformer
from sklearn.metrics.pairwise import cosine_similarity
import heapq
from collections import Counter
import re

# 1. Data Collection

## 1.1 Get the list of master's degree courses

In [ ]:
# se to true to install bs4 & selenium
if False: 
    pip install bs4;
    pip install selenium

First of all, we get a list of all the master's degree courses we need.

In [2]:
def extract_masters(this_url):
  result_url = requests.get(this_url)
  result_soup = BeautifulSoup(result_url.text)
  result_links = result_soup.find_all('a', {'class':'courseLink'})
  result_list=[]
  for item in result_links:
    result_list.append((item['href'], item.text))

  return result_list

We notice that the url of th various pages is *https://www.findamasters.com/masters-degrees/msc-degrees/?PG=* followed by the number of the page in the MSc courses catalogue we're in.

In [3]:
links = []
for page in range(1, 401):
    url = 'https://www.findamasters.com/masters-degrees/msc-degrees/?PG='+str(page)
    links += extract_masters(url)
    print(page, len(links))

1 15
2 30
3 45
4 60
5 75
6 90
7 105
8 120
9 135
10 150
11 165
12 180
13 195
14 210
15 225
16 240
17 255
18 270
19 285
20 300
21 315
22 330
23 345
24 360
25 375
26 390
27 405
28 420
29 435
30 450
31 465
32 480
33 495
34 510
35 525
36 540
37 555
38 570
39 585
40 600
41 615
42 630
43 645
44 660
45 675
46 690
47 705
48 720
49 735
50 750
51 765
52 780
53 795
54 810
55 825
56 840
57 855
58 870
59 885
60 900
61 915
62 930
63 945
64 960
65 975
66 990
67 1005
68 1020
69 1035
70 1050
71 1065
72 1080
73 1095
74 1110
75 1125
76 1140
77 1155
78 1170
79 1185
80 1200
81 1215
82 1230
83 1245
84 1260
85 1275
86 1290
87 1305
88 1320
89 1335
90 1350
91 1365
92 1380
93 1395
94 1410
95 1425
96 1440
97 1455
98 1470
99 1485
100 1500
101 1515
102 1530
103 1545
104 1560
105 1575
106 1590
107 1605
108 1620
109 1635
110 1650
111 1665
112 1680
113 1695
114 1710
115 1725
116 1740
117 1755
118 1770
119 1785
120 1800
121 1815
122 1830
123 1845
124 1860
125 1875
126 1890
127 1905
128 1920
129 1935
130 1950
131 1965
132 1980
133 1995
134 2010
135 2025
136 2040
137 2055
138 2070
139 2085
140 2100
141 2115
142 2130
143 2145
144 2160
145 2175
146 2190
147 2205
148 2220
149 2235
150 2250
151 2265
152 2280
153 2295
154 2310
155 2325
156 2340
157 2355
158 2370
159 2385
160 2400
161 2415
162 2430
163 2445
164 2460
165 2475
166 2490
167 2505
168 2520
169 2535
170 2550
171 2565
172 2580
173 2595
174 2610
175 2625
176 2640
177 2655
178 2670
179 2685
180 2700
181 2715
182 2730
183 2745
184 2760
185 2775
186 2790
187 2805
188 2820
189 2835
190 2850
191 2865
192 2880
193 2895
194 2910
195 2925
196 2940
197 2955
198 2970
199 2985
200 3000
201 3015
202 3030
203 3045
204 3060
205 3075
206 3090
207 3105
208 3120
209 3135
210 3150
211 3165
212 3180
213 3195
214 3210
215 3225
216 3240
217 3255
218 3270
219 3285
220 3300
221 3315
222 3330
223 3345
224 3360
225 3375
226 3390
227 3405
228 3420
229 3435
230 3450
231 3465
232 3480
233 3495
234 3510
235 3525
236 3540
237 3555
238 3570
239 3585
240 3600
241 3615
242 3630
243 3645
244 3660
245 3675
246 3690
247 3705
248 3720
249 3735
250 3750
251 3765
252 3780
253 3795
254 3810
255 3825
256 3840
257 3855
258 3870
259 3885
260 3900
261 3915
262 3930
263 3945
264 3960
265 3975
266 3990
267 4005
268 4020
269 4035
270 4050
271 4065
272 4080
273 4095
274 4110
275 4125
276 4140
277 4155
278 4170
279 4185
280 4200
281 4215
282 4230
283 4245
284 4260
285 4275
286 4290
287 4305
288 4320
289 4335
290 4350
291 4365
292 4380
293 4395
294 4410
295 4425
296 4440
297 4455
298 4470
299 4485
300 4500
301 4515
302 4530
303 4545
304 4560
305 4575
306 4590
307 4605
308 4620
309 4635
310 4650
311 4665
312 4680
313 4695
314 4710
315 4725
316 4740
317 4755
318 4770
319 4785
320 4800
321 4815
322 4830
323 4845
324 4860
325 4875
326 4890
327 4905
328 4920
329 4935
330 4950
331 4965
332 4980
333 4995
334 5010
335 5025
336 5040
337 5055
338 5070
339 5085
340 5100
341 5115
342 5130
343 5145
344 5160
345 5175
346 5190
347 5205
348 5220
349 5235
350 5250
351 5265
352 5280
353 5295
354 5310
355 5325
356 5340
357 5355
358 5370
359 5385
360 5400
361 5415
362 5430
363 5445
364 5460
365 5475
366 5490
367 5505
368 5520
369 5535
370 5550
371 5565
372 5580
373 5595
374 5610
375 5625
376 5640
377 5655
378 5670
379 5685
380 5700
381 5715
382 5730
383 5745
384 5760
385 5775
386 5790
387 5805
388 5820
389 5835
390 5850
391 5865
392 5880
393 5895
394 5910
395 5925
396 5940
397 5955
398 5970
399 5985
400 6000

We want to verify we retrieved all of the needed urls, so we check for the length of the list

In [5]:
print(len(links))

6000

It's the expected length, so we can create and write the required *.txt* file.

In [4]:
file = open('msc_links.txt','w')
for link in links:
	file.write(link[0]+'\n')

file.close()

Now, if we look at the file it's written in the correct way (:

## 1.2 Crawl master's degree pages

In [62]:
def download_html(url, dest_folder):
    #path is the local path we're working in 
    if not os.path.exists(dest_folder):  # create folder if it does not exist
        os.makedirs(dest_folder) 
    
    filename = url.replace('https://www.findamasters.com//masters-degrees/course/', '').replace('/', '_')
    file_path = os.path.join(dest_folder, filename)
    url_req = requests.get(url)

    if url_req.ok:
        soup = BeautifulSoup(url_req.text, 'html.parser')
        with open(file_path, 'w') as file: 
            file.write(soup.prettify())
        
        file.close()

In [68]:
### SAVING HTML & ORGANIZING THEM IN FOLDERS ###
file = open('msc_links.txt', 'r')
lines_list = file.readlines()
file.close()

In [73]:
for i in range(1, 401):
    folder_i = 'page_' + str(i)
        
    #selecting the lines corresponding to the i-th page
    start = (i-1)*15
    stop =  i*15
    needed_lines = lines_list[start : stop]

    #saving the corresponding html in "page_i" folder
    for line in needed_lines:
        url  = 'https://www.findamasters.com/' + str(line)[:-1]
        download_html(str(url), folder_i)
        time.sleep(2)

## 1.3 Parse downloaded pages

Creating a DataSet starting from the scrapped *.tsv* files.

In [2]:
msc_degrees = pd.DataFrame(columns=['courseName', 'universityName', 'facultyName', 'isItFullTime', 'description', 'startDate', 'fees', 'modality', 'duration', 'city', 'country', 'administration', 'url'])
for i in range(1, 6001): 
    course_file = csv.reader(open(os.path.join('courses_tsv', 'course_'+str(i))+'.tsv', 'r'), delimiter='\t')
    line = pd.DataFrame(course_file, columns=['courseName', 'universityName', 'facultyName', 'isItFullTime', 'description', 'startDate', 'fees', 'modality', 'duration', 'city', 'country', 'administration', 'url'], index = [i])
    msc_degrees = pd.concat([msc_degrees, line])

To see if we created the DataFrame in the correct way

In [3]:
msc_degrees

,courseName,universityName,facultyName,isItFullTime,description,startDate,fees,modality,duration,city,country,administration,url
1,Advanced Physiotherapy Practice - MSc,Glasgow Caledonian University,School of Health and Life Sciences,Full time,Progress your career as a physiotherapist wit...,"January, September",Please see the university website for further...,MSc,1 Year Full Time / 2-3 Years Part Time,Glasgow,United Kingdom,On Campus,https://www.findamasters.com/masters-degrees/...
2,Advanced Master in Innovation & Strategic Mana...,Solvay Brussels School,Economics and Management,Full time,Programme overview The Advanced Master in I...,September,18.000 €,MA MSc Other Pre-Masters Masters Module,10 months,Brussels,Belgium,On Campus,https://www.findamasters.com/masters-degrees/...
3,"Accounting, Financial Management and Digital B...",University of Reading,Henley Business School,Full time,Embark on a professional accounting career wi...,September,Please see the university website for further...,MSc,1 year full time,Reading,United Kingdom,On Campus,https://www.findamasters.com/masters-degrees/...
4,Analytical Toxicology MSc,King’s College London,Faculty of Life Sciences & Medicine,Full time,The Analytical Toxicology MSc is a unique stu...,See Course,Please see the university website for further...,MSc,Full-time: One year,London,United Kingdom,On Campus,https://www.findamasters.com/masters-degrees/...
5,Accounting and Finance - MSc,University of Leeds,Leeds University Business School,Full time,Businesses and governments rely on sound fina...,September,"UK: £18,000 (Total) International: £34,750 (...",MSc,1 year full time,Leeds,United Kingdom,On Campus,https://www.findamasters.com/masters-degrees/...
...,...,...,...,...,...,...,...,...,...,...,...,...,...
5996,"Masters of Science in Business, Supply Chain A...",Oregon State University,School of Business,Full time,Master of Science in Business (MSB) Our Mas...,See Course,Please see the university website for further...,MSc,12 months,Corvallis,USA,Online,https://www.findamasters.com/masters-degrees/...
5997,Material Culture & Artefact Studies - MSc/PgDip,University of Glasgow,College of Arts & Humanities,Full time,Material culture and artefact studies combine...,September,Please see the university website for further...,MSc PGDip,"9-12 months full-time, 18-24 months part-time",Glasgow,United Kingdom,On Campus,https://www.findamasters.com/masters-degrees/...
5998,Master's of Computer Science,Harbour.Space University,Masters Programmes,Full time,Harbour.Space’s Master's of Computer Science ...,"September, January","€29,900/year",MSc,1 year or 2 years,Barcelona,Spain,On Campus,https://www.findamasters.com/masters-degrees/...
5999,Master's of Financial Technology (Fintech),Harbour.Space University,Masters Programmes,Full time,Harbour.Space's FinTech Master programme ...,"September, January","€29,900/year",MBA MSc,1 Year,Barcelona,Spain,On Campus,https://www.findamasters.com/masters-degrees/...
6000,Masters of Finance,University of Hong Kong,Faculty of Business and Economics,Full time,The HKU Business School Master of Finance (MF...,August,Please see the university website for further...,MSc,12 months full-time,Hong Kong,Hong Kong,On Campus,https://www.findamasters.com/masters-degrees/...

# 2. Search Engine

## 2.0 Preprocessing

### 2.0.0  Preprocessing the text

We are required to preprocess all the informations retrieved for the courses, but since loosing punctuation in the url will lead us to loose its functionality, we won't preprocess that column (also, the info contained in the url aren't textual info). Moreover, we won't preprocess the fees column since there's a particoular preprocessing required for that column.

- 'description': removing punctuation and stopwords, stemming
- 'startDate': eliminating everithing that is not a month     (oss: calendar.month_name contains an empty name as first element)
- 'courseName': eliminating 'Msc' and similar: lo faccio dopo

In [3]:
# set to True to download 
if False:
    nltk.download('punkt') 
    nltk.download('stopwords')

In [10]:
#'descritpion' column 
stopw = stopwords.words('english')
msc_degrees['description_clean'] = msc_degrees.description.apply(lambda row: nltk.word_tokenize(row)).apply(lambda row: ([nltk.PorterStemmer().stem(word) for word in row if (word.isalnum() and (not word in stopw))])) 

#'startDate' column
msc_degrees['startDate_clean']= msc_degrees.startDate.apply(lambda row: nltk.word_tokenize(row)).apply(lambda row: ' '.join([month for month in row if month in calendar.month_name[1:]]))

#'courseName' column: TBD

In [11]:
msc_degrees

,courseName,universityName,facultyName,isItFullTime,description,startDate,fees,modality,duration,city,country,administration,url,description_clean,startDate_clean
1,Advanced Physiotherapy Practice - MSc,Glasgow Caledonian University,School of Health and Life Sciences,Full time,Progress your career as a physiotherapist wit...,"January, September",Please see the university website for further...,MSc,1 Year Full Time / 2-3 Years Part Time,Glasgow,United Kingdom,On Campus,https://www.findamasters.com/masters-degrees/...,"[progress, career, physiotherapist, within, nh...",January September
2,Advanced Master in Innovation & Strategic Mana...,Solvay Brussels School,Economics and Management,Full time,Programme overview The Advanced Master in I...,September,18.000 €,MA MSc Other Pre-Masters Masters Module,10 months,Brussels,Belgium,On Campus,https://www.findamasters.com/masters-degrees/...,"[programm, overview, the, advanc, master, inno...",September
3,"Accounting, Financial Management and Digital B...",University of Reading,Henley Business School,Full time,Embark on a professional accounting career wi...,September,Please see the university website for further...,MSc,1 year full time,Reading,United Kingdom,On Campus,https://www.findamasters.com/masters-degrees/...,"[embark, profession, account, career, academ, ...",September
4,Analytical Toxicology MSc,King’s College London,Faculty of Life Sciences & Medicine,Full time,The Analytical Toxicology MSc is a unique stu...,See Course,Please see the university website for further...,MSc,Full-time: One year,London,United Kingdom,On Campus,https://www.findamasters.com/masters-degrees/...,"[the, analyt, toxicolog, msc, uniqu, studi, co...",
5,Accounting and Finance - MSc,University of Leeds,Leeds University Business School,Full time,Businesses and governments rely on sound fina...,September,"UK: £18,000 (Total) International: £34,750 (...",MSc,1 year full time,Leeds,United Kingdom,On Campus,https://www.findamasters.com/masters-degrees/...,"[busi, govern, reli, sound, financi, knowledg,...",September
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5996,"Masters of Science in Business, Supply Chain A...",Oregon State University,School of Business,Full time,Master of Science in Business (MSB) Our Mas...,See Course,Please see the university website for further...,MSc,12 months,Corvallis,USA,Online,https://www.findamasters.com/masters-degrees/...,"[master, scienc, busi, msb, our, master, scien...",
5997,Material Culture & Artefact Studies - MSc/PgDip,University of Glasgow,College of Arts & Humanities,Full time,Material culture and artefact studies combine...,September,Please see the university website for further...,MSc PGDip,"9-12 months full-time, 18-24 months part-time",Glasgow,United Kingdom,On Campus,https://www.findamasters.com/masters-degrees/...,"[materi, cultur, artefact, studi, combin, arch...",September
5998,Master's of Computer Science,Harbour.Space University,Masters Programmes,Full time,Harbour.Space’s Master's of Computer Science ...,"September, January","€29,900/year",MSc,1 year or 2 years,Barcelona,Spain,On Campus,https://www.findamasters.com/masters-degrees/...,"[master, comput, scienc, ii, root, mathemat, e...",September January
5999,Master's of Financial Technology (Fintech),Harbour.Space University,Masters Programmes,Full time,Harbour.Space's FinTech Master programme ...,"September, January","€29,900/year",MBA MSc,1 Year,Barcelona,Spain,On Campus,https://www.findamasters.com/masters-degrees/...,"[fintech, master, programm, design, prepar, gr...",September January
6000,Masters of Finance,University of Hong Kong,Faculty of Business and Economics,Full time,The HKU Business School Master of Finance (MF...,August,Please see the university website for further...,MSc,12 months full-time,Hong Kong,Hong Kong,On Campus,https://www.findamasters.com/masters-degrees/...,"[the, hku, busi, school, master, financ, mfin,...",August

### 2.0.1 - Preprocessing the fees columns

First of all, we notice that there are a lot of courses for which we are addressed to the University's site to see fees' informations, and for these courses, th 'fees' columns says: *"Please see the university website for further information on fees for this course."*. For this reason, we replace such stirng with an empty one under the *'fees_clean'* column in order to do superflous operations.

In [3]:
msc_degrees['fees_clean'] = msc_degrees.fees.apply(lambda row: row.strip().replace('Please see the university website for further information on fees for this course.', ''))

In [13]:
len(msc_degrees[msc_degrees.fees_clean == ''])

4009

We notice that we now have 4009 empty lines for the fees values, which makes our operation actually useful.  
Now let's get started eith the rest of the pre-proessing of the fees column.

problem : between the ones withouth matches, we have a lot of rows with structure like 
"UK Fees: 2022/23 fees TBC*;2021/22 fees - 10400   International Fees: 2022/23 fees TBC*;2021/22 fees - 17900".


For these lines, the country is always UK, as we suspected, so we assume that the currency is £, even if not explicitly written. 
For these reasons, for these lines we procede in the following way:
1. match 'UK FEES' at the beginnning of the line
2. search for all the numeric values, clean them by removing '.' and ','
3. save numerical values + £ in the 'fees_clean' column

In [4]:
#cleaning fees column

# defining regex atterns to look for:
#pattern1: currency, numeric value
#pattern2: numeric value, currency
#pteernUK: matches its content at the beginning of the string (see explaination above in markdown)
pattern1 = re.compile(u'([$¢£¤¥֏؋৲৳৻૱௹฿៛\u20a0-\u20bd\uff04\uffe0\uffe1\uffe5\uffe6]|'r'USD|EUR|GBP|JPY|INR|AUD|CAD|HK|euro|euros|US$|ISK|RMB|SEK|Euro|Euros|CHF|Eur)'r'( {0,1}[0-9]+[.,]{0,1}[0-9]+)+')
pattern2 = re.compile(r'([0-9]+[.,]{0,1}[0-9]+)+ {0,1}'u'([$¢£¤¥֏؋৲৳৻૱௹฿៛\u20a0-\u20bd\uff04\uffe0\uffe1\uffe5\uffe6]|'r'USD|EUR|GBP|JPY|INR|AUD|CAD|HK|euro|euros|US$|ISK|RMB|SEK|Euro|Euros|CHF|Eur)')
pattern_UKfees = r'^UK Fees:'


msc_degrees['fees_clean'] = msc_degrees.fees_clean.apply(lambda row: re.findall(pattern1, row) + [el[::-1] for el in re.findall(pattern2, row)] +                                          #all matches for pattern1 & pattern 2 in a list of tuples + reversing pattern2 matches
                                                         [ ('£', numeric_value.strip()) for numeric_value in re.findall(r'[ *]{1}[0-9]+ ', row + ' ') if re.search(pattern_UKfees, row.lstrip()) ] #'UK Fees:' lines: matching and retrieving needed numeric values + storing them in appropriate way
                                                         ).apply(lambda row: [(fees[0], fees[1].replace('.', '').replace(',','').replace('*','')) for fees in row])                        #cleaning numeric values

Prima dei cambiare le tutte le currency in simboli con le sigle !!!!!!!!!!!

In [6]:
ISO_currency_dict = {
    '$' : 'USD',
    '£' : 'GBP',
    '¥': 'JPY',
    '֏': 'AMD',
    '؋': 'AFN',
    '৲': 'BDT',
    '৳': 'BDT',
    '৻': 'VES',
    '૱': 'KHR',
    '௹': 'LKR',
    '฿': 'THB',
    '៛': 'KHR',
    'euro' : 'EUR',
    'euros' : 'EUR',
    'Euro' : 'EUR',
    'Euros' : 'EUR',
    'Eur' : 'EUR',
    'US$' : 'USD',
    'USD': 'USD',
    'EUR': 'EUR',
    'GBP': 'GBP',
    'JPY': 'JPY',
    'INR': 'INR',
    'AUD': 'AUD',
    'CAD': 'CAD',
    'HK': 'HKD',
    'ISK': 'ISK',
    'RMB': 'CNY',
    'SEK': 'SEK',
    'CHF': 'CHF',
    
    #'\u20a0-\u20bd': below
    '₡': 'CRC', #Costa Rican Colón
    '₤': 'ITL', # Italian Lira
    '₥': 'DEM', # German Mark
    '₦': 'NGN', # Nigerian Naira
    '₧': 'ESP', # Spanish Peseta
    '₨': 'INR', # Indian Rupee
    '₩': 'KRW', # South Korean Won
    '₪': 'ILS', # Israeli New Shekel
    '₫': 'VND', # Vietnamese Đồng
    '€': 'EUR', # Euro
    '₭': 'LAK', # Lao Kip
    '₮': 'MNT', # Mongolian Tugrik
    '₯': 'GRD', # Greek Drachma
    '₱': 'PHP', # Philippine Peso
    '₲': 'PYG', # Paraguayan Guarani
    '₴': 'UAH', # Ukrainian Hryvnia
    '₵': 'GHS', # Ghanaian Cedi    
}

In [16]:
def currency_converter(money:tuple, currency_to:str, currency_dict: dict):
    currency_from, numeric_value = money

    #making sure the "output currency" is a abbreviation and not a symbol
    if (not currency_to in currency_dict) and (not currency_from in currency_dict):
        print(f'Unable to convert this currency')
        return
    
    #making sure the "output currency" is a abbreviation and not a symbol
    currency_to = currency_dict[currency_to]
    currency_from = currency_dict[currency_from]
    response = requests.get('https://open.er-api.com/v6/latest/' + currency_from)
    time.sleep(1)

    if response.ok:
        data = response.json()
        if data['result'] != 'error':
            change_rates = data['rates']

        return int(numeric_value)*change_rates[currency_to]

In [32]:
def get_max_currency(lst):
    if lst ==[]:
        return 
    else: 
        return max(lst)

In [36]:
msc_degrees['fees_EUR'] = msc_degrees.fees_clean.apply(lambda row: [functions.currency_converter(el, 'EUR', ISO_currency_dict) for el in row])
msc_degrees['fees_EUR'] = msc_degrees.fees_EUR.apply(functions.get_max_currency)

## 2.1 Conjunctive query

### 2.1.1 Create your index!

#### Creating *vocabulary* file.     
To do so, we first create a list, *vocabulary_list*, containing all the words in the '*description_clean*' column of the dataset, then we set each word's *term_id* as its implicit index in this list. To do so, zip the previous list with another explicitly containg the indeces we choose.
''', converted in string type (this way we don't have any problem when writing the *vocabulary.tsv* file).'''

In [5]:
# set to True to re-write the vocabulary file
if False:
    # creating vocabulary lists as a tool to write the vocabulary file 
    vocabulary_list = sorted(list(Counter(reduce(lambda x, y: x+y, msc_degrees.description_clean.values)).keys()))
    vocabulary_idx = dict(zip(vocabulary_list, list(range( len(vocabulary_list)))))
    
    # save dictionary to vocabulary.pkl file
    with open('vocabulary.pkl', 'wb') as v_file:
        pickle.dump(vocabulary_idx, v_file)

    v_file.close()

#### Inverted index creation

In [8]:
# set to True to re-write the inverted index file
if False: 
    # Read dictionary pkl file
    with open('vocabulary.pkl', 'rb') as v_file:
        vocabulary_dict = pickle.load(v_file)

    #function to get the documents in which term appears
    get_documents_list = lambda word:  list(msc_degrees.loc[msc_degrees.description_clean.apply(lambda row: word in row )].index)

    #initializing inverted_index_dict
    inverted_index = dict()

    #updating the inverted_index dictionary
    for key in vocabulary_dict:
        #saving needed values in order to call the funcion only once per term 
        doc_list =  get_documents_list(key) 

        #updating dict
        inverted_index.update({vocabulary_dict[key] : doc_list})

    # save dictionary to inverted_index.pkl file
    with open('inverted_index.pkl', 'wb') as invidx_file:
        pickle.dump(inverted_index, invidx_file)

    invidx_file.close()

### 2.1.2 Executing the query

First of all, we need to load the files for the query execution

In [4]:
# Read dictionary pkl file
with open('vocabulary.pkl', 'rb') as v_file:
    vocabulary_dict = pickle.load(v_file)

v_file.close()

#Read inverted_index pkl file
with open('inverted_index.pkl', 'rb') as invidx_file:
    inverted_index = pickle.load(invidx_file)

invidx_file.close()

- Now we have to preprocess the query in the same way we preprocessed the 'description' column to get a match: We define a function that does that, then we apply it to the query
- then we get the index of the documents_ids in which the words appear 
- return list of dovìcuments_ids

In [13]:
#getting the query from input and stripping it
query = input('Type to search:').strip()

#preprocessing the query
query = functions.preprocess_query(query)

#searching documents
doc_sat_query = functions.get_documents_conjunctive_query(query, vocabulary_dict, inverted_index)

#Results visualizatioin
if doc_sat_query == []:
    print("This query didn't produce any result")
else: 
    print('Results:')

results_columns = ['courseName', 'universityName', 'description', 'url']
msc_degrees.loc[doc_sat_query, results_columns]

Now we want to visualize the results given from the query

In [14]:
if doc_sat_query == []:
    print("This query didn't produce any result")
else: 
    print('Results:')

results_columns = ['courseName', 'universityName', 'description', 'url']
msc_degrees.loc[doc_sat_query, results_columns]

Results:

,courseName,universityName,description,url
2048,Clinical Optometry - MSc,Cardiff University,Why study this course The aim of this prog...,https://www.findamasters.com/masters-degrees/...
4098,Global Meetings and Events Management MSc / PGDip,University College Birmingham,Become part of an events industry worth an es...,https://www.findamasters.com/masters-degrees/...
4,Analytical Toxicology MSc,King’s College London,The Analytical Toxicology MSc is a unique stu...,https://www.findamasters.com/masters-degrees/...
5,Accounting and Finance - MSc,University of Leeds,Businesses and governments rely on sound fina...,https://www.findamasters.com/masters-degrees/...
8,Addictions MSc,King’s College London,Join us for an online session for prospective...,https://www.findamasters.com/masters-degrees/...
...,...,...,...,...
1991,Clinical Embryology - MSc/PGDip,University of Leeds,The Leeds MSc in Clinical Embryology is a par...,https://www.findamasters.com/masters-degrees/...
1999,Clinical Geriatrics - MSc,Cardiff University,Why study this course The MSc Clinical Ger...,https://www.findamasters.com/masters-degrees/...
2021,Clinical Neuropsychology - MSc,University of Bristol,Professional programmes in Clinical Neuropsyc...,https://www.findamasters.com/masters-degrees/...
2029,Clinical Ophthalmic Practice MSc,University College London,Register your interest in graduate study at U...,https://www.findamasters.com/masters-degrees/...
2047,Clinical Pharmacy - MSc,University of Sunderland,The Clinical Pharmacy MSc has been designed t...,https://www.findamasters.com/masters-degrees/...

Checking if we have the TAs' restults

In [15]:
res = msc_degrees.loc[doc_sat_query, results_columns]
names = ['Analytical Toxicology MSc', 'Addictions MSc', 'Accounting and Finance - MSc', 'Allergy - MSc/PGDip/PGCert']
res[res['courseName'].isin(names)]

,courseName,universityName,description,url
4,Analytical Toxicology MSc,King’s College London,The Analytical Toxicology MSc is a unique stu...,https://www.findamasters.com/masters-degrees/...
5,Accounting and Finance - MSc,University of Leeds,Businesses and governments rely on sound fina...,https://www.findamasters.com/masters-degrees/...
8,Addictions MSc,King’s College London,Join us for an online session for prospective...,https://www.findamasters.com/masters-degrees/...
528,Accounting and Finance - MSc,University of Sussex,On this MSc you’ll advance your accounting an...,https://www.findamasters.com/masters-degrees/...
1012,Allergy - MSc/PGDip/PGCert,Imperial College London,Allergy is an increasing global health proble...,https://www.findamasters.com/masters-degrees/...

## 2.2 Conjunctive query & Ranking score

### 2.2.1 Inverted index - second version

To create the inverted_index_tfidf dictionary, we observe that the ids we gave to the terms in the vocabulary are the indeces in the previous vocabulary list sorted by alphabetial order. When computing the tfidf score, by looking at a dataframe computed by the matrix, by changing the names of the columns, we saw that the terms wre stored in alhabetical order, leading us to be able to use the tfidf matrix indeces to retrieve the tfidf score for every couple term-document we were interested in. + we used the old inverted_index dictionary.

In [55]:
if False:
    # calculating tfidf 
    tfidf = TfidfVectorizer(input='content', lowercase=False, tokenizer=lambda text: text) 
    tfidf_matrix = tfidf.fit_transform(msc_degrees.description_clean)

    #Read inverted_index pkl file (needed to construct inverted_index with tfidf)
    with open('inverted_index.pkl', 'rb') as invidx_file:
        inverted_index = pickle.load(invidx_file)

    invidx_file.close()

    #creating inverted index (with tfidf) dictionary
    inverted_index_tfidf = dict()
    for term_id in inverted_index:
        inverted_index_tfidf.update( { term_id: dict([ (doc_id, tfidf_matrix[(doc_id -1 , term_id)] ) for doc_id in inverted_index[term_id] ]) } )

    #saving the dictionary as a pickle file
    with open('inverted_index_tfidf.pkl', 'wb') as tfidf_file:
            pickle.dump(inverted_index_tfidf, tfidf_file)

    tfidf_file.close()

### 2.2.2 Execute the query

in order to get the top-k documents regarding the cosine similarity with the query, we decided to: 
1. preprocessing the query
2. getting all the documents containing the query (note that if a document doesn't contain the query, their cosine similarity in the tfidf representation is zero);
3. compute the cosine similarity of these retrived documents with the query, than storing them in a heap structure
4. return the top-k documents as a list
5. show results in a dataframe 

let us observe that we should take into account the different lengths of documents, which throw off the tfidf even with the same number of occurencies of a word (numerical values differing only slightly should be treated in the same way)

In [5]:
#Loading tfidf inverted index pkl file
with open('inverted_index_tfidf.pkl', 'rb') as invidx_file:
    inverted_index_tfidf = pickle.load(invidx_file)

invidx_file.close()

In [8]:
#point 1
query = input('Type to search: ')
query = functions.preprocess_query(query)

#get search results
topkresults_idx_cossim = functions.search_engine_tfidf(query, inverted_index_tfidf, vocabulary_dict, 20 )

In [11]:
#showing results
if topkresults_idx_cossim == []:
    print("There are no results for this query")
else: 
    results_columns = ['courseName', 'universityName', 'description', 'url']
    res = msc_degrees.loc[[el[0] for el in topkresults_idx_cossim], results_columns ]
    res['cossim'] = [el[1][0] for el in topkresults_idx_cossim]

res

,courseName,universityName,description,url,cossim
2292,Computing,University of East London,Do you want to be at the forefront of solving...,https://www.findamasters.com/masters-degrees/...,0.996022
942,Advancing Practice Sensory Integration (MSc),Sheffield Hallam University,Develop your knowledge and understanding of t...,https://www.findamasters.com/masters-degrees/...,0.996022
2256,Computer Science MSc,University of East London,Do you want to be at the forefront of solving...,https://www.findamasters.com/masters-degrees/...,0.996022
237,MSc - Economics,Durham University,Our MSc programmes in Economics will give you...,https://www.findamasters.com/masters-degrees/...,0.993725
2362,Construction Management - MSc,Xi’an Jiaotong-Liverpool University,"In fast-growing countries around the world, t...",https://www.findamasters.com/masters-degrees/...,0.993725
2365,Construction Management (part time) - MSc,Xi’an Jiaotong-Liverpool University,"In fast-growing countries around the world, t...",https://www.findamasters.com/masters-degrees/...,0.993725
2437,Countering Extremist Crime and Terrorism MSc,University College London,Register your interest in graduate study at U...,https://www.findamasters.com/masters-degrees/...,0.993725
516,Accounting - MSc,Bangor University,This degree programme provides the opportunit...,https://www.findamasters.com/masters-degrees/...,0.993725
4806,International Financial Management MSc,University of Groningen,How do you manage international financial act...,https://www.findamasters.com/masters-degrees/...,0.993725
4901,International Master of Science in Fire Safety...,University of Edinburgh,Programme description The International Ma...,https://www.findamasters.com/masters-degrees/...,0.993725
915,Advanced Sustainable Design MSc,University of Edinburgh,Programme description Advanced Sustainable ...,https://www.findamasters.com/masters-degrees/...,0.993725
3290,Engineering Design MSc,Buckinghamshire New University,This MSc in Engineering Design will equip you...,https://www.findamasters.com/masters-degrees/...,0.993725
1389,Aviation Operations and Management MSc (full t...,Buckinghamshire New University,Whether you’re a recent aviation graduate or ...,https://www.findamasters.com/masters-degrees/...,0.993725
5867,Master of Science in Nutritional Science,University of Southern California,The Master of Science in Nutritional Science ...,https://www.findamasters.com/masters-degrees/...,0.993725
1801,Caring for Children and Young People with Comp...,Queen’s University Belfast,Advances in medical care and technology now m...,https://www.findamasters.com/masters-degrees/...,0.993725
1945,Civil Engineering: Innovative Structural Mater...,University of Bath,Advance your knowledge of civil engineering a...,https://www.findamasters.com/masters-degrees/...,0.993725
4098,Global Meetings and Events Management MSc / PGDip,University College Birmingham,Become part of an events industry worth an es...,https://www.findamasters.com/masters-degrees/...,0.993725
2073,Clinical Speech and Language Studies - MSc,Trinity College Dublin,The aims of the course are to provide qualifi...,https://www.findamasters.com/masters-degrees/...,0.993725
4186,Health and Social Practice MSc,Northumbria University,"If you want to advance your knowledge, unders...",https://www.findamasters.com/masters-degrees/...,0.993725
120,Executive MSc Strategic Marketing,King’s College London,Looking to develop your marketing strategy sk...,https://www.findamasters.com/masters-degrees/...,0.993725